:root {
  --primary-color: #02897a;
  --secondary-color: #4d8dff;
  --third-color: #740a76;
  --white-color: #fff;
  --dark-blue-color: #22343d;
}

body {
  color: var(--dark-blue-color);
}

.heroes {
  margin-top: 90px;
}

/* Index */
.text-primary-color {
  color: var(--primary-color);
}

.text-blue {
  color: var(--dark-blue-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.bg-primary-color:hover,
.bg-outline-primary-color:hover {
  background-color: #01685c;
  color: var(--white-color);
}

.bg-outline-primary-color {
  outline-color: var(--primary-color);
  border: 1px solid;
  color: var(--primary-color);
}

.bg-light-grey {
  background-color: #e5e5e5;
}

.feature {
  margin-top: -50px;
  border-radius: 0 0 60% 60%;
  background: linear-gradient(
    179.59deg,
    #ededed 0.35%,
    rgba(255, 255, 255, 0.0001) 99.63%
  );
  /* transform: rotate(180deg); */
}

.feature .feature-head {
  width: 50%;
}

.quick-section {
  border-radius: 60% 60% 0 0;
  background: linear-gradient(
    179.59deg,
    #ededed 0.35%,
    rgba(255, 255, 255, 0.0001) 99.63%
  );
}

.content-strategies {
  margin-top: -50px;
}

.price {
  margin-top: -50px;
  padding-top: 80px;
}

.testimoni {
  margin-top: -50px;
  padding-top: 80px;
}
/* index */

/* pricing */
.pricing {
  margin-top: 90px;
}

.enterprise {
  background: linear-gradient(180deg, #f7f7f7 0%, rgba(247, 247, 247, 0) 100%);
}

.line {
  width: 100%;
  height: 30px;
  color: #adaaaa;
}
/* pricing */

/* Clients */
.clients {
  margin-top: 90px;
}
/* Clients */

/* costumer */
.join {
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}
/* costumer */

@media (max-width: 992px) {
  .feature {
    border-radius: 0 0 30% 30%;
  }
  .feature .feature-head {
    width: 80%;
  }
  .feature .btn {
    width: 30%;
  }

  .paragraph {
    width: 80% !important;
  }

  .left {
    order: 2;
  }
  .right {
    order: 1;
  }
}
